[user]
	name = cyphics
	email = cyphics@protonmail.com
[alias]
	st = status
	ci = commit
	co = checkout
[push]
	default = simple
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /home/cyphics/.gitignore_global
	autocrlf = input
#[http]
#	sslCAInfo = /etc/ssl/certs/_.cyphix.org.crt
[color "status"]
	changed = red
[init]
	templatedir = /home/cyphics/config/git-templates
	defaultBranch = main
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
