[user]
	name = Thierry Raeber
	email = raeber@protonmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	staash = stash --all
	bb = !run_script.sh
	blaame = blame -w -C -C -C
[push]
	default = simple
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /home/cyphics/.gitignore_global
	autocrlf = input
[color "status"]
	changed = red
[init]
	templatedir = /home/cyphics/config/git-templates
	defaultBranch = main
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

# Specify a global config for a certain tree (i.e. e-mail address)
[includeIf "gitdir: ~/ownCloud/work/"]
	path = ~/ownCloud/work/.gitconfig
[includeIf "gitdir: ~/ownCloud/programming/"]
	path = ~/ownCloud/programming/.gitconfig

[column]
	ui = auto
[branch]
	sort = -committerdate
[safe]
	directory = /usr/share/webapps/wordpress
	directory = /var/www/a-rec
[advice]
	ignoredHook = false
